.card {
    width: 50%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.root {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
